.breadcrumbs__container {
  display: flex;
  align-items: center;
  padding: 16px
}

.breadcrumbs__container span {
  margin-right: 5px;
}
.breadcrumbs__container--right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.breadcrumbs__notification, .breadcrumbs__logout {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.breadcrumb__label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  margin: 0 5px;
  text-align: center;
}
.breadcrumb__label:hover {
  text-decoration: underline;
  color: var(--color-primary);
}